################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JustFunFileApi/.vs/JustFunFileApi
/JustFunFileApi/JustFunFileApi/bin
/JustFunFileApi/JustFunFileApi/obj
